.corepack
.direnv
.DS_Store
.env
.env.*
.envrc.private
.git
.home
.npm-cache
.vite
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
api/graphql/lib
apps/web/dist
apps/web/lib
apps/web/node_modules
apps/web/node_modules/.vite
apps/web/node_modules/.vite-temp
packages/generative-ui/lib
packages/schema/lib
dist
lib
node_modules
*.bs.js
*.bs.js.map
*.llm.txt
*.res.js
*.res.js.map
db/plans/*.plan.*
