node_modules
.DS_Store
dist
lib
*.bs.js
*.bs.js.map
*.res.js
*.res.js.map
.env
.env.local
.home
.corepack
.npm-cache
.vite
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
